.klocwork/
.vs/
.vscode/
_bin/
_bin32/
_bin64/
build/
build32/
build64/
Builds/
config/*.png
install/
Makefile
*~
*.aps
*.bmp
*.ncb
*.opensdf
*.pal
*.sdf
*.sln
*.suo
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcf

