name: release

permissions:
  contents: read

on:
  push:
    tags:
      - 'v*'

env:
  BUILD_TYPE: Release

jobs:
  release:
    strategy:
      matrix:
        os: [ubuntu-latest]
        include:
          - os: windows-latest
            windows-arch: x64
          - os: windows-latest
            windows-arch: Win32

    runs-on: ${{matrix.os}}

    permissions:
      contents: write
      id-token: write

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    # This isn't working currently, see https://github.com/actions/checkout/issues/1467.
    # Instead, get the git information manually with the step below.
    #   with:
    #     fetch-tags: true

    - name: Refresh Git Information
      if: startsWith(github.ref, 'refs/tags/')
      shell: bash
      run: |
          git fetch --force --tags
          git checkout "${GITHUB_REF_NAME}"

    - name: Create Build Directory
      run: cmake -E make_directory ./build

    - name: Run CMake
      shell: bash
      working-directory: ./build
      run: |
        if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
          cmake -DENABLE_CLILOADER=1 -DCMAKE_BUILD_TYPE=$BUILD_TYPE -A ${{ matrix.windows-arch }} $GITHUB_WORKSPACE
        else
          cmake -DENABLE_CLILOADER=1 -DCMAKE_BUILD_TYPE=$BUILD_TYPE                               $GITHUB_WORKSPACE
        fi

    - name: Build
      working-directory: ./build
      shell: bash
      run: cmake --build . --parallel --config $BUILD_TYPE --target package

    - name: Update Python (Windows)
      if: matrix.os == 'windows-latest'
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.12'

    - name: Sign (Windows zip)
      if: |
        startsWith(github.ref, 'refs/tags/') &&
        matrix.os == 'windows-latest'
      uses: sigstore/gh-action-sigstore-python@a5caf349bc536fbef3668a10ed7f5cd309a4b53d #v3.2.0
      with:
        inputs: |
          ./build/clintercept-*.zip

    - name: Sign (Linux tgz)
      if: |
        startsWith(github.ref, 'refs/tags/') &&
        matrix.os == 'ubuntu-latest'
      uses: sigstore/gh-action-sigstore-python@a5caf349bc536fbef3668a10ed7f5cd309a4b53d #v3.2.0
      with:
        inputs: |
          ./build/clintercept-*.tar.gz

    - name: Release (Windows zip)
      if: |
        startsWith(github.ref, 'refs/tags/') &&
        matrix.os == 'windows-latest'
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        draft: true
        files: |
          ./build/clintercept-*.zip
          ./build/clintercept-*.zip.sigstore.json

    - name: Release (Linux tgz)
      if: |
        startsWith(github.ref, 'refs/tags/') &&
        matrix.os == 'ubuntu-latest'
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        draft: true
        files: |
          ./build/clintercept-*.tar.gz
          ./build/clintercept-*.tar.gz.sigstore.json
